@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

@mixin min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}

@mixin screen($resMin, $resMax) {
    @media screen and (min-width: $resMin) and (max-width: $resMax) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    @include max-screen(1200px){
        padding-left: 15px;
        padding-right: 15px;
    }
}

body {
    background-color: rgba(238, 250, 255, 0.30);
}

header {
    width: 100%;
    position: absolute;
    z-index: 2;


    .overlay-navigation {
        @include max-screen(750px) {
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: hsla(0, 0%, 0%, 0.8);
            transform: translateY(-100%);
        }
    }

    .overlay-slide-down {
        @include max-screen(750px) {
            transition: all .4s ease-in-out;
            transform: translateY(0)
        }
    }

    .overlay-slide-up {
        @include max-screen(750px) {
            transition: all .8s ease-in-out;
            transform: translateY(-100%)
        }
    }

    .container {
        @extend .container;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        vertical-align: center;

        @include max-screen(1200px) {
            padding: 20px 15px;
        }
        @include max-screen(1000px) {
            padding: 15px 15px;
        }
    }
    .logo{
        img{
            max-width: 50px;
        }
    }
    .bag{
        img{
            max-width: 20px;
        }
    }

    .home {
        display: none;

        @include max-screen(750px) {
            display: block;
        }
    }

    nav {
        @include max-screen(750px) {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;


        @include max-screen(750px) {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
        }

        li {
            text-align: center;

            @include max-screen(750px) {
                flex-basis: 25%;
                justify-content: center;
                align-items: center;
                height: 100%;
                overflow: hidden;
                transform: translateY(-100%);
            }

            a {
                color: #FFF;

                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;

                .arrow_bottom {
                    display: inline-block;
                    margin-left: 8px;
                    vertical-align: middle;
                    padding-bottom: 4px;
                }

                @include max-screen(750px) {
                    .arrow_bottom {
                        display: none;

                    }

                    position: relative;
                    top: 46%;

                    text-transform: uppercase;
                    font-family: 'Work sans',
                    sans-serif;
                    font-weight: 300;
                    letter-spacing: 4px;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    font-size: 0.9rem;


                    &:after {
                        content: attr(data-content);
                        font-size: 0.7rem;
                        transition: all .2s linear;
                        opacity: 0;
                        position: absolute;
                        z-index: 100;
                        color: black;
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        left: 0;
                        right: 0;
                        bottom: -50px;
                        text-transform: none;
                        font-weight: 300;
                        font-style: italic;
                        letter-spacing: 0;
                    }

                    &:hover {
                        &:before {
                            transform: translateX(0);
                            opacity: 1;
                        }

                        &:after {
                            transform: translateY(15px);
                            opacity: 1;
                        }
                    }
                }
            }

            &:first-of-type {
                margin-right: 65px;

                @include max-screen(750px) {
                    background-color: #212327;
                    margin: 0px;
                    border: solid 3px black;
                }
            }

            &:nth-child(2) {
                margin-right: 62px;

                @include max-screen(750px) {
                    background-color: #212327;
                    margin: 0px;
                    border: solid 3px black;
                    ;
                }
            }

            &:nth-child(3) {
                margin-right: 64px;

                @include max-screen(750px) {
                    background-color: #212327;
                    margin: 0px;
                    border: solid 3px black;
                }
            }



            &:last-of-type {


                @include max-screen(750px) {
                    background-color: #212327;
                    margin: 0px;
                    border: solid 3px black;
                }


            }
        }
    }

    .slide-in-nav-item {
        animation: slide-in-nav-item 0.4s linear 1 .2s both;
    }

    .slide-in-nav-item-delay-1 {
        animation: slide-in-nav-item 0.4s linear 1 .4s both;
    }

    .slide-in-nav-item-delay-2 {
        animation: slide-in-nav-item 0.4s linear 1 .6s both;
    }

    .slide-in-nav-item-delay-3 {
        animation: slide-in-nav-item 0.4s linear 1 .8s both;
    }

    .slide-in-nav-item-delay-4 {
        animation: slide-in-nav-item 0.4s linear 1 1s both;
    }

    .slide-in-nav-item-reverse {
        @include max-screen(750px) {
            animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
        }
    }

    .slide-in-nav-item-delay-1-reverse {
        @include max-screen(750px) {
            animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
        }
    }

    .slide-in-nav-item-delay-2-reverse {
        @include max-screen(750px) {
            animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
        }
    }

    .slide-in-nav-item-delay-3-reverse {
        @include max-screen(750px) {
            animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
        }
    }

    .slide-in-nav-item-delay-4-reverse {
        @include max-screen(750px) {
            animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
        }
    }

    .open-overlay {
        @include max-screen(750px) {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 100;
            width: 34px;
            display: block;
            cursor: pointer;
            @include max-screen(638px){
                top: 8px;
            }
            @include max-screen(434px){
                width: 22px;
            }
            

            span {
                display: block;
                height: 2px;
                background-color: white;
                cursor: pointer;
                margin-top: 8px;
                @include max-screen(434px){
                    margin-top: 5px;
                }
            }
        }
    }

    .animate-top-bar {
        animation: animate-top-bar .6s linear 1 both
    }

    .animate-bottom-bar {
        animation: animate-bottom-bar .6s linear 1 both
    }

    .animate-middle-bar {
        animation: animate-middle-bar .6s linear 1 both
    }

    .animate-out-top-bar {
        animation: animate-out-top-bar .6s linear 1 both
    }

    .animate-out-bottom-bar {
        animation: animate-out-bottom-bar .6s linear 1 both
    }

    .animate-out-middle-bar {
        animation: animate-out-middle-bar .6s linear 1 both
    }

    @keyframes slide-in-nav-item {
        from {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }

        to {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }

    @keyframes slide-in-nav-item-reverse {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }

        to {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }
    }

    @keyframes animate-top-bar {
        0% {
            background-color: white;
        }

        50% {
            -webkit-transform: translateY(9px);
            transform: translateY(9px)
        }

        80% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
            background-color: white
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background-color: white;
        }
    }

    @keyframes animate-bottom-bar {
        0% {
            background-color: white;
        }

        50% {
            -webkit-transform: translateY(-9px);
            transform: translateY(-9px)
        }

        80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            background-color: white;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background-color: white;
        }
    }

    @keyframes animate-middle-bar {
        0% {
            background-color: white;
        }

        80% {
            background-color: white;
        }

        100% {
            background-color: white;
        }
    }

    @keyframes animate-out-top-bar {
        0% {
            background-color: white;
        }

        50% {
            -webkit-transform: translateY(9px);
            transform: translateY(9px)
        }

        80% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
            background-color: white;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background-color: white;
        }
    }

    @keyframes animate-out-bottom-bar {
        0% {
            background-color: white;
        }

        50% {
            -webkit-transform: translateY(-9px);
            transform: translateY(-9px)
        }

        80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            background-color: white;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            background-color: white;
        }
    }

    @keyframes animate-out-middle-bar {
        0% {
            background-color: white;
        }

        80% {
            background-color: white;
        }

        100% {
            background-color: white;
        }
    }

    .home {
        @include max-screen(750px) {
            a {
                font-family: "Work Sans", sans-serif;
                color: black;
                font-weight: 300;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                position: absolute;
                z-index: 10;
                top: 50px;
                left: 50px;
                padding-bottom: 3px;
                border-bottom: 1px solid black;
            }
        }
    }
}

.main_banner {
    background-image: url('../img/background.png');
    background-size: cover;

    position: relative;
    min-height: 1084px;
    background-repeat: no-repeat;

    background-position: center;
    @include screen(280px, 319px){
        min-height: 193px;
    }
    @include screen(320px, 351px){
        min-height: 238px;
    }
    @include screen(352px, 374px){
        min-height: 263px;
    }
    @include screen(375px, 392px){
        min-height: 279px;
    }
    @include screen(393px, 399px){
        min-height: 293px;
    }
    @include screen(400px, 413px){
        min-height: 298px;
    }
    @include screen(414px, 429px){
        min-height: 312px;
    }
    @include screen(430px, 479px){
        min-height: 334px;
    }
    @include screen(480px, 639px){
        min-height: 356px;
    }
    @include screen(640px, 767px){
        min-height: 475px;
    }
    @include screen(768px, 799px){
        min-height: 583px;
    }
    @include screen(800px,819px){
        min-height: 601px;
    }
    @include screen(820px, 833px){
        min-height: 621px;
    }
    @include screen(834px, 854px){
        min-height: 628px;
    }
    @include screen(855px, 959px){
        min-height: 644px;
    }
    @include screen(960px, 991px){
        min-height: 720px;
    }
    @include screen(992px, 1023px){
        min-height: 749px;
    }

    @include screen(1024px, 1151px){
        min-height: 762px;
    }
    @include screen(1152px, 1199px){
        min-height: 876px;
    }

    @include screen(1200px, 1279px){
        min-height: 905px;
    }

    @include screen(1280px, 1399px) {
        min-height: 961px;
    }

    @include screen(1400px, 1439px) {
        min-height: 1073px;
    }

    @include screen(1441px, 1518px) {
        min-height: 1099px;
    }

    @include screen(1536px, 1600px) {
        min-height: 1153px;
    }

    @include screen(1600px, 1670px) {
        min-height: 1200px;
    }

    @include screen(1680px, 1910px) {
        min-height: 1269px;
    }

    @include screen(1920px, 2040px) {
        min-height: 1450px;

    }

    @include screen(2048px, 2559px) {
        min-height: 1534px
    }

    @include min-screen(2560px) {
        min-height: 1926px;
    }



    .points {
        a {
            .point_1 {
                position: absolute;
                bottom: 240px;
                right: 2.4%;

                @include max-screen(992px) {
                    display: none;
                }
               

                @include screen(1024px, 1151px){
                    bottom: 160px;
                }
                @include screen(1152px, 1199px){
                    bottom: 192px;
                }
            
                @include screen(1200px, 1279px){
                    bottom: 198px;
                }

                @include screen(1280px, 1399px) {
                    bottom: 210px;
                }

                @include screen(1400px, 1439px) {
                    right: 2%;
                }

                @include screen(1536px, 1600px) {
                    bottom: 253px;
                }

                @include screen(1600px, 1670px) {
                    bottom: 261px;

                }

                @include screen(1680px, 1910px) {

                    bottom: 276px;
                }

                @include screen(1920px, 2040px) {
                    bottom: 321px;

                }

                @include screen(2048px, 2559px) {
                    bottom: 342px;
                    right: 2.7%;
                }

                @include min-screen(2560px) {
                    bottom: 437px;
                    right: 3%;
                }

            }

            .point_2 {
                position: absolute;
                bottom: 270px;
                right: 42.4%;

                @include max-screen(992px) {
                    display: none;
                }
               
                @include screen(1024px, 1151px){
                    bottom: 189px;
                    max-width: 25px;
                }
    
                @include screen(1152px, 1199px){
                    bottom: 216px;
                    max-width: 30px;
                }

                @include screen(1200px, 1279px) {
                    bottom: 234px;
                }

                @include screen(1280px, 1399px) {
                    bottom: 245px;
                }

                @include screen(1536px, 1600px) {
                    bottom: 291px;
                }

                @include screen(1600px, 1670px) {
                    bottom: 304px;

                }

                @include screen(1680px, 1910px) {

                    bottom: 324px;
                }

                @include screen(1920px, 2040px) {
                    bottom: 377px;

                }

                @include screen(2048px, 2559px) {
                    bottom: 395px;
                }

                @include min-screen(2560px) {
                    bottom: 513px;
                    right: 42.9%;
                }

            }

            .point_3 {
                position: absolute;
                bottom: 310px;
                left: 7.5%;

                @include max-screen(992px) {
                    display: none;
                }
                @include screen(1024px, 1151px){
                   bottom: 215px;
                   max-width: 25px;
                }
    
                @include screen(1152px, 1199px){
                    bottom: 246px;
                   
                }

                @include screen(1200px, 1279px) {
                    bottom: 262px;

                }

                @include screen(1280px, 1399px) {
                    bottom: 276px;
                }

                @include screen(1400px, 1439px) {
                    left: 7%;
                }

                @include screen(1536px, 1600px) {
                    bottom: 334px;
                }

                @include screen(1600px, 1670px) {
                    bottom: 346px;
                }

                @include screen(1680px, 1910px) {

                    bottom: 370px;
                }

                @include screen(1920px, 2040px) {
                    bottom: 427px;

                }

                @include screen(2048px, 2559px) {
                    bottom: 452px;
                }

                @include min-screen(2560px) {
                    bottom: 569px;
                }
            }

            .point_4 {
                position: absolute;
                bottom: 450px;
                left: 16.5%;

                @include max-screen(992px) {
                    display: none;
                }
                @include screen(1024px, 1151px){
                   bottom: 310px;
                 }
     
                 @include screen(1152px, 1199px){
                    bottom: 358px;
                    
                 }

                @include screen(1200px, 1239px) {
                    bottom: 374px;
                }

                @include screen(1280px, 1399px) {
                    bottom: 394px;
                }

                @include screen(1536px, 1600px) {
                    bottom: 470px;
                }

                @include screen(1600px, 1670px) {

                    bottom: 485px;
                }

                @include screen(1680px, 1910px) {

                    bottom: 516px;
                }


                @include screen(1920px, 2040px) {

                    bottom: 591px;
                }

                @include screen(2048px, 2559px) {
                    bottom: 628px;
                    left: 358px;
                }

                @include min-screen(2560px) {
                    bottom: 787px;
                    left: 482px;
                }
            }

            .point_5 {
                position: absolute;
                bottom: 355px;
                left: 18%;

                @include max-screen(992px) {
                    display: none;
                }
                @include screen(1024px, 1151px){
                    max-width: 40px;
                    bottom: 254px;
                    left: 20%;
                  }
      
                  @include screen(1152px, 1199px){
                    max-width: 40px;
                    bottom: 296px;
                    left: 19.5%;
                     
                  }

                @include screen(1200px, 1239px) {
                    bottom: 293px;
                }

                @include screen(1280px, 1399px) {
                    bottom: 313px;
                    left: 18.5%;
                }

                @include screen(1536px, 1600px) {
                    bottom: 376px;
                }

                @include screen(1600px, 1670px) {
                    bottom: 395px;

                }

                @include screen(1680px, 1910px) {

                    bottom: 420px;
                }


                @include screen(1920px, 2040px) {
                    bottom: 485px;

                }

                @include screen(2048px, 2559px) {
                    left: 385px;
                    bottom: 517px;
                }

                @include min-screen(2560px) {
                    left: 513px;
                    bottom: 664px;
                }
            }
        }
    }

    .container {
        @extend .container;
        max-width: 861px;
        padding-top: 161px;
        text-align: center;
        @include max-screen(1200px){
            max-width: 1000px;
            padding-top: 60px;
        }
        @include max-screen(370px){
            
            padding-top: 45px;
        }

        @include screen(1280px, 1399px) {
            padding-top: 101px;
        }

     
    }

    h1 {
        color: #FFF;
        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 104px */
        letter-spacing: -0.8px;
        text-transform: capitalize;

        @include max-screen(1200px) {
            font-size: 70px;
            
        }
        @include max-screen(1110px) {
            font-size: 55px;
        }
        @include max-screen(960px) {
            font-size: 40px;
        }
        @include max-screen(638px) {
            font-size: 30px;
        }
        @include max-screen(416px){
            font-size: 24px;
        }
       
    }

    .search {
        max-width: 606px;
        margin: auto;
        padding-top: 14px;
        color: #FFF;
        text-align: center;
        font-family: Gilroy-Regular;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 38.4px */
        padding-bottom: 45px;
        @include max-screen(775px) {
            padding-bottom: 11px;
        }
        @include max-screen(638px) {
            font-size: 12px;
        }
        @include max-screen(370px) {
            padding: 0;
        }
    }

    .buttom {

        display: flex;
        justify-content: space-between;
        max-width: 335px;
        margin: auto;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.15);
        padding: 8px 8px 8px 20px;
        border-radius: 42px;
        text-decoration: none;
        @include max-screen(760px){
            background-color: rgba(0, 0, 0, 0.195);
        }
        @include max-screen(638px) {
          padding: 5px 5px 5px 10px;
          max-width: 250px;
        }
       

        p {
            color: #FFF;
            font-family: Gilroy-Regular;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-align: left;
            @include max-screen(638px) {
                font-size: 14px;
            }
        }

        img {
            max-width: 40px;
            max-height: 40px;
            @include max-screen(638px) {
               max-width: 30px;
               max-height: 30px;
            }
        }
    }


}

.why_choosing_us {
    padding-top: 120px;
    background-color: #FFF;
    @include max-screen(850px){
        padding-top: 60px;
    }
    @include max-screen(590px){
        padding-top: 40px
    }

    .container {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120px;
        flex-wrap: wrap;
        @include max-screen(850px){
            padding-bottom: 60px;
        }
        @include screen(834px, 608px){
          justify-content: space-around;
          
        }
        @include max-screen(598px){
            justify-content: center;
            flex-direction: column;
            padding-bottom: 40px;
        }
        


    }

    h2 {
        max-width: 242px;
        color: #1E1E1E;
        font-family: Gilroy-Bold;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include max-screen(1124px){
            max-width: 1124px;
            width: 100%;
            padding-bottom: 40px;
            text-align: center;
        }
    }

    .information {
        @include max-screen(834px){
            padding-top: 20px;
        }
        @include max-screen(590px){
            padding-top: 35px;
        }
        
        h4 {
            color: #1E1E1E;
            font-family: Gilroy-Bold;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        p {
            padding-top: 20px;
            max-width: 284px;
            color: #1E1E1E;
            font-family: Gilroy-Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%;
            /* 29.6px */
        }

        a {
            text-decoration: none;
            padding-top: 14px;
            color: #E58411;
            font-family: Gilroy-Medium;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%;

            /* 25.9px */
            &:after {
                display: inline-block;
                content: "";
                background-image: url('../img/arrow_back.png');
                width: 48px;
                height: 24px;
                vertical-align: middle;
                margin-left: 13px;

            }
        }
    }

}

.carousel {
    background-color: #F7F7F7;

    .container {
        @extend .container;


    }

    .view {
        display: block;
        padding-top: 60px;
        color: #E58411;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 185%;
        /* 33.3px */
        text-align: center;
        text-decoration: none;
        padding-bottom: 50px;

        &:after {
            display: inline-block;
            content: "";
            background-image: url('../img/arrow_back.png');
            width: 48px;
            height: 24px;
            vertical-align: middle;
            margin-left: 13px;
        }
    }

    h2 {
        padding-top: 50px;
        padding-bottom: 32px;
        color: #1E1E1E;
        font-family: Gilroy-Bold;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    ul {
        display: flex;
        max-width: 336px;
        justify-content: space-between;
        margin: auto;
        list-style: none;
        background: #EEE;
        padding: 7px 24px 7px 6px;
        border-radius: 44px;

        li {
            text-align: center;

            &:first-of-type {
                background-color: #FFF;
                border-radius: 32px;
                padding: 0 4px;
                width: 76px;
            }

            a {
                text-decoration: none;
                color: #1E1E1E;
                font-family: Gilroy-Medium;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 185%;
                /* 33.3px */
                @include max-screen(350px){
                    font-size: 14px;
                }
                @include max-screen(300px){
                    font-size: 12px;
                }
            }
        }
    }

    .owl-carousel {
        position: relative;
        padding-top: 80px;

        .product {
            max-width: 268px;
            margin: auto;
            .chair {
                height: 300px;
            }

            h4 {
                padding-top: 6px;
                color: #0D1B39;
                font-family: Inter;
                font-size: 21.325px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
            }

            .described {
                background-color: #FFF;
                border-radius: 0px 0px 20px 20px;
                padding-left: 21px;
                padding-top: 13.71px;
                padding-bottom: 12.42px;
            }

            p {
                color: #8D8D8D;
                font-family: Inter;
                font-size: 16.755px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .price {
                padding-top: 48px;
                color: #0D1B39;
                font-family: Inter;
                font-size: 21.325px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                &:before {
                    display: inline-block;
                    content: "$";
                    padding-right: 3px;
                    font-size: 15.232px;
                    vertical-align: top;
                    padding-top: 10px;
                }

                &:after {
                    display: inline-flex;
                    content: "+";
                    width: 48.74px;
                    height: 48.74px;
                    vertical-align: middle;
                    margin-left: 133px;
                    border-radius: 99px;
                    background: #0D1B39;
                    color: #FFF;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    font-weight: 400;


                }
            }

            .stars {
                padding-top: 6px;
                display: flex;

                .star {
                    max-width: 18px;
                }
            }

        }
        owl-carousel.owl-loaded {
            margin: auto;
        }

        .owl-nav.disabled {
            display: block;
        }


        .owl-nav {
            button.owl-prev {
                display: inline-block;
                position: absolute;
                left: -46px;
                top: 236px;
                @include max-screen(1281px){
                    left: -20px;
                }

                &::after {
                    display: inline-flex;
                    content: "←";
                    align-items: center;
                    justify-content: center;

                    width: 50px;
                    height: 50px;

                    margin-left: 13px;
                    background-color: #FFF;
                    font-family: Gilroy-Medium;
                    font-size: 20px;

                    font-weight: 600;

                    border-radius: 99px;
                }
            }

            button.owl-next {
                display: inline-block;
                position: absolute;
                right: -9px;
                top: 236px;
                @include max-screen(1281px){
                    right: 0px;
                }

                &::after {
                    display: inline-flex;
                    content: "→";
                    align-items: center;
                    justify-content: center;

                    width: 50px;
                    height: 50px;

                    margin-left: 13px;
                    background-color: #FFF;
                    font-family: Gilroy-Medium;
                    font-size: 20px;

                    font-weight: 600;

                    border-radius: 99px;
                }
            }
        }

    }
}

.experiences {
    background-color: #fff;
    display: flex;
    justify-content: end;
    background-image: url('../img/experiences.png');
    min-height: 753px;
    background-repeat: no-repeat;
    background-position: top 306px left -20px;
    padding-right: 141px;
    @include max-screen(1350px){
        padding-right: 41px;
    }
    @include max-screen(1210px){
        background-position: top 160px left -20px;
    }
    @include max-screen(1010px){
        background-position: top 40px left -20px;
        min-height: auto;
    }
    @include max-screen(580px){
        background-size: 350px;
        padding-right: 0;
    }
    @include max-screen(350px){
        background-size: 280px;
    }
   
    .container {
        max-width: 556px;
        margin: inherit;
        padding-top: 323px;
        @include max-screen(1210px){
        padding-top: 160px;
        max-width: 375px;
    }
    @include max-screen(1010px){
        padding-top: 500px;
        max-width: 556px;
        text-align: end;
    }
    @include max-screen(580px){
        padding-top: 330px;
    }
    @include max-screen(350px){
        padding-top: 270px;
    }

        .title {
            color: #E58411;
            font-family: Gilroy-SemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3.15px;
            text-transform: uppercase;

        }

        h2 {
            max-width: 413px;
            padding-top: 20px;
            color: #1E1E1E;
            font-family: Gilroy-Bold;
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
           
            @include max-screen(1010px){
               
                max-width:100%;}
                
                @include max-screen(638px) {
                    font-size: 30px;
                }
                @include max-screen(416px){
                    font-size: 20px;
                }
        }

        p {
            padding-top: 20px;
            color: #1E1E1E;
            font-family: Gilroy-Regular;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%;

            /* 33.3px */
        }

        .more_info {
            padding-top: 24px;
            text-decoration: none;
            padding-top: 14px;
            color: #E58411;
            font-family: Gilroy-Medium;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 185%;

            &:after {
                display: inline-block;
                content: "";
                background-image: url(../img/arrow_back.png);
                width: 48px;
                height: 24px;
                vertical-align: middle;
                margin-left: 13px;
            }
        }
    }
}

.materials {
    background-color: #FFF;
    background-image: url('../img/materials.png');
    background-repeat: no-repeat;
    background-position: top 260px right 0px;

    padding-left: 80px;
    @include max-screen(1350px){
        padding-left: 41px;
    }
    @include max-screen(1210px){
        background-position: top 160px right 0px;
    }
    @include max-screen(1010px){
        background-position: top 40px right 0px;
        min-height: auto;
    }
    @include max-screen(580px){
        background-size: 330px;
        padding-left: 0;
    }
    @include max-screen(350px){
        background-size: 260px;
    }

    .container {
        max-width: 873px;
        margin: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 128px;
        @include max-screen(1210px){
            padding-top: 0;
            
        }
        @include max-screen(1200px){
            
            max-width: 556px;
        }
        @include max-screen(1010px){
            
            width: 100%;
            flex-direction: column;
            padding-top: 560px;
        }
        @include max-screen(580px){
            padding-top: 419px;
        }
        @include max-screen(350px){
            padding-top: 350px;
        }

        .text {
            .title {
                color: #E58411;
                font-family: Gilroy-SemiBold;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 3.15px;
                text-transform: uppercase;

            }

            h2 {
                padding-top: 20px;
                max-width: 413px;
                color: #1E1E1E;
                font-family: Gilroy-Bold;
                font-size: 42px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                  
            @include max-screen(1010px){
               
                max-width:100%;}
                
                @include max-screen(638px) {
                    font-size: 30px;
                }
                @include max-screen(416px){
                    font-size: 20px;
                }
            }

            p {
                padding-top: 20px;
                max-width: 556px;
                color: #1E1E1E;
                font-family: Gilroy-Regular;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 185%;
                /* 33.3px */
            }

            .more_info {
                padding-top: 24px;
                text-decoration: none;
                padding-top: 14px;
                color: #E58411;
                font-family: Gilroy-Medium;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 185%;

                &:after {
                    display: inline-block;
                    content: "";
                    background-image: url(../img/arrow_back.png);
                    width: 48px;
                    height: 24px;
                    vertical-align: middle;
                    margin-left: 13px;




                }
            }
        }

        .images {
            text-align: end;
           
            @include max-screen(1405px){
                text-align: left;
            }
            @include max-screen(1010px){
                padding-top: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                max-width: 1000px;
                text-align: center;
            }
            @include max-screen(526px){
                flex-direction: column;
                align-items: center;
            }

            img {
                max-width: 223px;

                &:last-of-type {
                    padding-top: 47px;
                }

            }
        }
    }
}

.clients {
    background-color: #FFF;
    padding-top: 260px;
    padding-bottom: 260px;
    @include max-screen(428px){
        padding-top: 100px;
        padding-bottom: 100px;
    }

    p {
        color: #E58411;
        text-align: center;
        font-family: Gilroy-SemiBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.15px;
        text-transform: uppercase;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 60px;
        color: #1E1E1E;
        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .owl-carousel {
        position: relative;
        

        .background {
            background-image: url('../img/background_carousel_1.png');
            background-repeat: no-repeat;
            max-width: 370px;
            margin: auto;
            @include max-screen(428px){
                max-width: 280px;
                background-size: 280px;
            }

            .review {
                padding-bottom: 35px;
                background-image: url('../img/review_1.png');
                background-repeat: no-repeat;
                background-position: bottom 18px left 18px;
                min-height: 476px;
                display: flex;
                align-items: end;
                justify-content: center;
                @include max-screen(428px){
                    background-size: 250px;
                    min-height: 365px;
                    background-position: bottom 15px left 15px;
                }


                div {

                    text-align: center;

                    .user {
                        max-width: 50px;
                        margin: auto;
                        @include max-screen(428px){
                            max-width: 30px;
                        }
                    }

                    h4 {
                        padding-top: 10px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Bold;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        @include max-screen(428px){
                            padding-top: 0;
                        
                        }
                    }

                    .text_info_1 {
                        padding-top: 6px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .text_info_2 {
                        padding-top: 22px;
                        max-width: 252px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include max-screen(428px){
                            padding-top: 10px;
                            max-width: 230px;
                            font-size: 12px;
                        
                        }
                    }

                    .stars {
                        padding-top: 6px;
                        display: flex;
                        justify-content: center;

                        .star {
                            max-width: 18px;
                            @include max-screen(428px){
                                max-width: 10px;
                            }
                        }
                    }
                }

            }
        }

        .background_2 {
            background-image: url('../img/background_carousel_2.png');
            background-repeat: no-repeat;
            max-width: 370px;
            margin: auto;
            @include max-screen(428px){
                max-width: 280px;
                background-size: 280px;
            }
            .review {
                padding-bottom: 35px;
                background-image: url('../img/review_1.png');
                background-repeat: no-repeat;
                background-position: bottom 18px left 18px;
                min-height: 476px;
                display: flex;
                align-items: end;
                justify-content: center;
                @include max-screen(428px){
                    background-size: 250px;
                    min-height: 365px;
                    background-position: bottom 15px left 15px;
                }


                div {

                    text-align: center;

                    .user {
                        max-width: 50px;
                        margin: auto;
                        @include max-screen(428px){
                            max-width: 30px;
                        }
                    }

                    h4 {
                        padding-top: 10px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Bold;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        @include max-screen(428px){
                            padding-top: 0;
                        
                        }
                    }

                    .text_info_1 {
                        padding-top: 6px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include max-screen(428px){
                            padding-top: 0px; 
  
  
                        }
                    }

                    .text_info_2 {
                        padding-top: 22px;
                        max-width: 252px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include max-screen(428px){
                            padding-top: 5px;
                            max-width: 230px;
                            font-size: 12px;
                        
                        }
                    }

                    .stars {
                        padding-top: 6px;
                        display: flex;
                        justify-content: center;

                        .star {
                            max-width: 18px;
                            @include max-screen(428px){
                                max-width: 10px;
                            }
                        }
                    }
                }

            }
        }

        .background_3 {
            background-image: url('../img/background_carousel_3.png');
            background-repeat: no-repeat;
            max-width: 370px;
            margin: auto;
            @include max-screen(428px){
                max-width: 280px;
                background-size: 280px;
            }
            .review {
                padding-bottom: 35px;
                background-image: url('../img/review_1.png');
                background-repeat: no-repeat;
                background-position: bottom 18px left 18px;
                min-height: 476px;
                display: flex;
                align-items: end;
                justify-content: center;
                @include max-screen(428px){
                    background-size: 250px;
                    min-height: 365px;
                    background-position: bottom 15px left 15px;
                }


                div {

                    text-align: center;

                    .user {
                        max-width: 50px;
                        margin: auto;
                        @include max-screen(428px){
                            max-width: 30px;
                        }
                    }

                    h4 {
                        padding-top: 10px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Bold;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: capitalize;
                        @include max-screen(428px){
                            padding-top: 0;
                        
                        }
                    }

                    .text_info_1 {
                        padding-top: 6px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .text_info_2 {
                        padding-top: 22px;
                        max-width: 252px;
                        color: #1E1E1E;
                        text-align: center;
                        font-family: Gilroy-Regular;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include max-screen(428px){
                            padding-top: 10px;
                            max-width: 230px;
                            font-size: 12px;
                        
                        }
                    }

                    .stars {
                        padding-top: 6px;
                        display: flex;
                        justify-content: center;

                        .star {
                            max-width: 18px;
                            @include max-screen(428px){
                                max-width: 10px;
                            }
                        }
                    }
                }

            }


        }
        
        .owl-nav.disabled {
            display: inline-block;
        }

        .owl-nav {
            button.owl-prev {
                display: inline-block;
                position: absolute;
                left: -42px;
                top: 144px;

                @include max-screen(1260px){
                    left: -35px;
                }
                &::after {
                    display: inline-flex;
                    content: "←";
                    align-items: center;
                    justify-content: center;

                    width: 50px;
                    height: 50px;

                    margin-left: 13px;
                    background-color: #FFF;
                    font-family: Gilroy-Medium;
                    font-size: 20px;

                    font-weight: 600;

                    border-radius: 99px;
                }
            }

            button.owl-next {
                display: inline-block;
                position: absolute;
                right: -27px;
                top: 144px;
@include max-screen(1260px){
    right: -20px;
}
                &::after {
                    display: inline-flex;
                    content: "→";
                    align-items: center;
                    justify-content: center;

                    width: 50px;
                    height: 50px;

                    margin-left: 13px;
                    background-color: #FFF;
                    font-family: Gilroy-Medium;
                    font-size: 20px;

                    font-weight: 600;

                    border-radius: 99px;
                }
            }
        }
    }
}

footer {
    background-color: #F7F7F7;
    padding-top: 118px;
    padding-bottom: 58px;
    @include max-screen(631px){
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .footer_info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include max-screen(333px){
            flex-direction: column;
           
        }

        .footer_section_1{
            display: block;

            @include max-screen(660px){
                max-width: 600px;
                width: 100%;
               
            }
            h4 {
                color: #1E1E1E;
                font-family: Gilroy-Bold;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.28px;
                text-transform: capitalize;
            }

            p {
                padding-top: 29px;
                color: #1E1E1E;
                font-family: Gilroy-Medium;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                /* 24px */
                max-width: 293px;
            }
        }
        .footer_section_2{
            display: block;
            list-style: none;
            @include max-screen(660px){
               padding-top: 20px;
               
            }
            li{
                &:first-of-type a{
                    padding-top: 0;
                     color: #F6973F;
                 font-family: DM Sans;
                 font-size: 17px;
                 
                 line-height: normal;
                 letter-spacing: -0.232px;
                 }
                a{
                    text-decoration: none;
                padding-top: 16px;
                color: #1E1E1E;
font-family: Gilroy-Medium;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 24px */

                }
            }
        }
        .footer_section_4{
            list-style: none;
            @include max-screen(660px){
                padding-top: 20px;
             }
            li{
               
                &:first-of-type a{
                    padding-top: 0;
                     color: #F6973F;
                 font-family: DM Sans;
                 font-size: 17px;
                 
                 line-height: normal;
                 letter-spacing: -0.232px;
                 }
                 &:nth-child(2) a {
                    &:before
                    {display: inline-block;
                    content: "";
                    background-image: url('../img/facebook.png');
                    width: 9px;
                    height: 20px;
                    background-repeat: no-repeat;
                    padding-right: 21px;
                    background-position: left 3px top 1px;
                    vertical-align: middle;
                    }
                 }
                 &:nth-child(3) a {
                    &:before
                    {display: inline-block;
                    content: "";
                    background-image: url('../img/twitter.svg');
                    width: 20px;
                    height: 15px;
                    padding-right: 11.44px;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    }
                 }
                 &:last-of-type a {
                    &:before
                    {display: inline-block;
                    content: "";
                    background-image: url('../img/instagram.svg');
                    width: 20px;
                    height: 20px;
                    padding-right: 10px;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    }
                 }
                a{
                    text-decoration: none;
                padding-top: 16px;
                color: #1E1E1E;
font-family: Gilroy-Medium;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 24px */


                }
            }
        }
    }

    .footer_section_3 {
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
        @include max-screen(426px){
            padding-top: 80px;
            
            flex-direction: column-reverse;
        }
        .Copyright{
            color: #1E2833;
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.205px;
opacity: 0.5;
@include max-screen(415px){
    padding-top: 9px;
}
        }
        .footer_section_5{
            display: flex;
            gap: 40px;
            p{
                color: #1E1E1E;
font-family: Gilroy-Medium;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 24px */
            }
        }
    }

}